.outerChatBox {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    background-color: rgb(211, 211, 211);
}

.messageContainer {
    position: relative;
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 50%;
    background-color: yellow;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topBar {
    position: relative;
    height: 8vh;
    width: 100%;
    background-color: rgb(87, 87, 255);
    top: 0;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topBar img {
    height: 20%;
    object-fit: contain;
    margin: 0 10px 0 10px;
}

.chatBox{
    position: relative;
    overflow: scroll;
    height: 67vh;
    display: flex;
    flex-direction: column-reverse;
}

.bottomBar {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 7vh;
}

.messagesField {
    height: auto;
    width: 75%;
    border: none;
}

.btnSend {
    height: auto;
    width: 25%;
    overflow: hidden;
    border: none;
}